/* tổng thể*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #fff;
  color: #333;
}

.container {
  display: flex;
  min-height: 100vh;
  height: auto;
}

/* Tổng thể bảng */
.dashboard-content {
  padding: 30px 60px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 24px;
}

/* Nút Thêm sách mới */
.btn-add-book {
  background-color: #f39645;
  color: white;
  border: none;
  font-size: 16px;
  padding: 15px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-add-book:hover {
  opacity: 0.9;
  background: #fff6e6;
  color: #e69215;
  transform: scale(1.04);
}

/* Popup Thêm sách mới và Chỉnh sửa sách*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 655px;
  border-radius: 12px;
  padding: 35px 40px;
  display: none;
  z-index: 10000;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-header h2 {
  font-size: 23px;
  font-weight: 700;
  color: #f39645;
}

.modal-close {
  font-size: 24px;
  cursor: pointer;
}

.modal-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.modal-body label {
  display: block;
  margin: 6px 0 4px;
  font-weight: 500;
}

.modal-body input,
.modal-body select,
.modal-body textarea {
  width: 280px;
  padding: 10px;
  border: 1.5px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: all 0.2s ease;
}

.modal-body textarea {
  max-height: 150px;
  max-width: 280px;
  min-height: 100px;
  min-width: 280px;
}

.modal-body input:focus,
.modal-body select:focus,
.modal-body textarea:focus {
  border-color: #ff9f43;
  box-shadow: 0 0 3px rgba(255, 159, 67, 0.5);
}

.modal-body textarea.full-width {
  grid-column: span 2;
}


/* .modal-body label {
  display: block;
  margin: 12px 0 6px;
  font-weight: 500;
}

.modal-body select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
} */

.modal-footer {
  text-align: right;
  margin-top: 20px;
}

/* .modal-body input{
  width: 100%;
  padding: 12px;
  border: 1.5px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: all 0.2s ease;
}

.modal-body input:focus { 
  border-color: #ff9f43;
  box-shadow: 0 0 3px rgba(255, 159, 67, 0.5);
} */

.btn-cancel {
  background: #f1f1f1;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
}

.btn-cancel:hover {
  opacity: 0.9;
  background: #7d7d7d;
  color: #ffffff;
  transform: scale(1.04);
}

.btn-submit {
  background-color: #f39645;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.btn-submit:hover {
  opacity: 0.9;
  background: #fff6e6;
  color: #e69215;
  transform: scale(1.04);
}

/* Popup Xóa sách */
.modal-delete {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 450px;
  padding: 35px 40px;
  border-radius: 12px;
  z-index: 1000;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.25s ease;
}

/* Tiêu đề popup Xóa */
.modal-delete h2 {
  font-size: 23px;
  font-weight: 700;
  color: #d63031;
  /* màu đỏ cảnh báo */
  margin-bottom: 15px;
}

/* Nội dung popup Xóa */
.modal-delete p {
  font-size: 16px;
  color: #333;
  margin-bottom: 25px;
  line-height: 1.5;
}

/* Footer nút */
.modal-delete .modal-footer {
  text-align: right;
}

/* Nút Hủy */
.modal-delete .btn-cancel {
  background: #f1f1f1;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  transition: 0.3s;
}

.modal-delete .btn-cancel:hover {
  background: #7d7d7d;
  color: white;
  transform: scale(1.04);
}

/* Nút Xóa nổi bật */
.modal-delete .btn-delete {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.modal-delete .btn-delete:hover {
  background-color: #c0392b;
  transform: scale(1.04);
}


/* Container tổng khung tìm kiếm và lọc*/
.book-filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 15px;

  margin: 6px auto;
  border: 1px solid #cfcfcf;
  padding: 25px 30px;
  width: 1155px;
  height: 91px;
}

/* Ô tìm kiếm */
.search-box {
  display: flex;
  align-items: center;
  width: 380px;
  height: 42px;
  background-color: white;
  border: 1px solid #cfcfcf;
  border-radius: 15px;
  padding: 8px 15px;
  color: #000000;
}

.search-box input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  background: transparent;
  margin-left: 10px;
}

/* Dropdown thể loại */
.filter-dropdown select {
  background-color: white;
  border: 1px solid #cfcfcf;
  border-radius: 15px;
  padding: 12px 20px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  appearance: none;
  position: relative;
  color: #000000;

  width: 200px;
}

.filter-dropdown {
  position: relative;
}

.filter-dropdown::after {
  content: '▾';
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 14px;
  color: #000000;
}

/* Bảng sach */
.table-wrapper {
  width: 1155px;
  margin: 20px auto;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  overflow: hidden;
}

.table-scroll {
  max-height: 400px;
  overflow-y: auto;
}

.book-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
  color: #000000;
  background-color: #ffffff;

}

.book-table thead {
  background-color: #F1F1F1;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 2;
}

.book-table th,
.book-table td {
  word-wrap: break-word;
  white-space: normal;
  text-align: left;
  padding: 14px 16px;
}

.book-table tbody tr:hover {
  background-color: #fafafa;
}

.book-table th {
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  border-bottom: 1px solid #d1d1d1;
}

.book-table th:last-child {
  border-top: none;
}

.book-table tbody tr {
  border-bottom: 1px solid #d1d1d1;
}

.book-table tbody tr:last-child {
  border-bottom: none;
}

.book-table td:nth-last-child(-n+3),
.book-table th:nth-last-child(-n+3) {
  text-align: center;
  vertical-align: middle;
}

.actions {
  margin-top: 12px;
  display: flex;
  gap: 12px;
  font-size: 25px;
  margin-left: 10px;
}

/* 2 nút edit, delete */
.edit-icon {
  width: 23px;
  height: 23px;
  color: #007bff;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 10px;
}

.edit-icon:hover {
  color: #0056b3;
  transform: scale(1.1);
}

.delete-icon {
  width: 23px;
  height: 23px;
  color: #e74c3c;
  cursor: pointer;
  transition: 0.3s;
}

.delete-icon:hover {
  color: #c0392b;
  transform: scale(1.1);
}