/* tổng thể*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #fff;
  color: #333;
}

.container {
  display: flex;
  min-height: 100vh;   
  height: auto; 
}

/* Tổng thể bảng */
.dashboard-content {
  padding: 30px 60px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 24px;
}

/* Nút Thêm danh mục mới */
.btn-add-category {
  background-color: #f39645;
  color: white;
  border: none;
  font-size: 16px;
  padding: 15px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-add-category:hover {
  opacity: 0.9;
  background: #fff6e6; 
  color: #e69215; 
  transform: scale(1.04);
}

/* Popup Thêm danh mục mới và Chỉnh sửa danh mục*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 450px;
  border-radius: 12px;
  padding: 35px 40px;
  display: none;
  z-index: 1000;
  box-shadow: 0 10px 40px rgba(0,0,0,0.2);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-header h2 {
  font-size: 23px;
  font-weight: 600;
  color: #f39645;
}

.modal-close {
  font-size: 24px;
  cursor: pointer;
}

.modal-body label {
  display: block;
  margin: 12px 0 6px;
  font-weight: 500;
}

.modal-body input,
.modal-body select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
}

.modal-footer {
  text-align: right;
  margin-top: 20px;
}

.modal-body input,
.modal-body textarea {
  width: 100%;
  padding: 12px;
  border: 1.5px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: all 0.2s ease;
}

.modal-body input:focus,
.modal-body textarea:focus {
  border-color: #ff9f43;
  box-shadow: 0 0 3px rgba(255, 159, 67, 0.5);
}

.modal-body textarea {
  min-height: 100px;
  resize: vertical;
}

.btn-cancel {
  background: #f1f1f1;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
}

.btn-cancel:hover {
  opacity: 0.9;
  background: #7d7d7d; 
  color: #ffffff; 
  transform: scale(1.04);
}

.btn-submit {
  background-color: #f39645;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.btn-submit:hover {
  opacity: 0.9;
  background: #fff6e6; 
  color: #e69215; 
  transform: scale(1.04);
}



/* Popup Xóa danh mục */
.modal-delete {
  display: none; 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 450px;
  padding: 35px 40px;
  border-radius: 12px;
  z-index: 1000;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.25s ease;
}

.modal-delete h2 {
  font-size: 23px;
  font-weight: 700;
  color: #d63031; 
  margin-bottom: 15px;
}

.modal-delete p {
  font-size: 16px;
  color: #333;
  margin-bottom: 25px;
  line-height: 1.5;
}

.modal-delete .modal-footer {
  text-align: right;
}

.modal-delete .btn-cancel {
  background: #f1f1f1;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  transition: 0.3s;
}

.modal-delete .btn-cancel:hover {
  background: #7d7d7d; 
  color: white;
  transform: scale(1.04);
}

.modal-delete .btn-delete {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.modal-delete .btn-delete:hover {
  background-color: #c0392b;
  transform: scale(1.04);
}


/* Container tổng khung tìm kiếm */
.category-filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff; 
  border-radius: 15px;

  margin: 6px auto;  
  border: 1px solid #cfcfcf;
  padding: 25px 30px;
  width: 1155px;
  height: 91px;
}

/* Ô tìm kiếm */
.search-box {
  display: flex;
  align-items: center;
  width: 380px;
  height: 42px;
  background-color: white;
  border: 1px solid #cfcfcf;
  border-radius: 15px;
  padding: 8px 15px;
  color: #000000;
}

.search-box input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  background: transparent;
  margin-left: 10px;
}




/* Bảng danh mục */
.table-wrapper {
  width: 1155px;
  margin: 20px auto;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  overflow: hidden; 
}

.table-scroll {
  max-height: 400px; 
  overflow-y: auto;  
}

.category-table {
  width: 100%;
  border-collapse: collapse; 
  font-size: 15px;
  color: #000000;
  background-color: #ffffff;
  
}

.category-table thead {
  background-color: #F1F1F1; 
  font-weight: bold;
  position: sticky;          
  top: 0;                   
  z-index: 2;      
}

.category-table th, .category-table td {
  text-align: left;
  padding: 14px 16px;
}

.category-table tbody tr:hover {
  background-color: #fafafa;
}

.category-table th {
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  border-bottom: 1px solid #d1d1d1; 
}

.category-table th:last-child {
  border-top: none;  
}

.category-table tbody tr{
  border-bottom: 1px solid #d1d1d1; 
}

.category-table tbody tr:last-child {
  border-bottom: none; 
}





.actions {
  display: flex;
  gap: 12px;
  font-size: 18px;
}

/* 2 nút edit, delete */
.edit-icon {
  width: 23px;
  height: 23px;
  color: #007bff; 
  cursor: pointer;
  transition: 0.3s;
  margin-left: 12px;
}

.edit-icon:hover {
  color: #0056b3; 
  transform: scale(1.1);
}

.delete-icon {
  width: 23px;
  height: 23px;
  color: #e74c3c; 
  cursor: pointer;
  transition: 0.3s;
}

.delete-icon:hover {
  color: #c0392b; 
  transform: scale(1.1); 
}

