* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #fff;
  color: #333;
}

/* Container */
.container {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 260px;
  background: #fff;
  border-right: 1px solid #eee;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/*---- Admin Title ---- */
.sidebar-title {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 700;
  color: #333;
}

.avatar {
  width: 60px;
  height: 60px;
  background: #f39645;
  border-radius: 25%;
  position: relative; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-icon img {
  width: 60%;
  height: 60%;
  object-fit: contain;
  filter: brightness(0) invert(1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sidebar-text {
  color: #333;
}


/* tổng thể thanh trái */
.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sidebar nav a {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  color: #444;
  text-decoration: none;
  padding: 10px 14px;
  border-radius: 8px;
  transition: background 0.2s, color 0.2s;
}

/* Active và Hover State */
.sidebar nav a.active,
.sidebar nav a:hover {
  background: #fff6e6;
  color: #e69215;
  font-weight: 600;
}

/* Main - màu nền*/
.main {
  flex: 1;
  background: #f9f1e4;
  display: flex;
  flex-direction: column;
}

/* Header - Thanh trên cùng */
.header {
  background: #fff;
  height: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 40px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header-right {
  gap: 40px;
  font-size: 16px;
  color: #5d5d5d;
  font-weight: 700;

  display: flex;
  justify-content: center; 
  align-items: center; 
}

/* 2 thành phần trong header */
.admin img {
  width: 35px;
  height: 35px;
  object-fit: contain;
  vertical-align: middle;
  margin-right: 10px;
}

.admin {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Nút Home */
.home {
  width: auto;
  padding: 6px 14px;
  height: 35px;
  background: #f39645;     
  color: white; 
  font-size: 16px;
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none; 
  border-radius: 6px; 
  cursor: pointer;
  transition: color 0.2s ease, background 0.2s ease;
}

.home:hover {
  background: #fff6e6; 
  color: #e69215; 
  transform: scale(1.04);
}


/* Dashboard */
.dashboard-content {
  padding: 30px 60px;
}

/*Tựa Menu*/
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

/* Tiêu đề */
.title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 24px;
}

/* chữ nhỏ update */
.update-date {
  display: flex;               
  align-items: center;         
  justify-content: flex-end;   
  font-size: 16px;
  color: #888;
  margin-bottom: 30px;
  gap: 10px;                  
}

/* chỉnh icon */
.update-icon {
  width: 13px;
  height: 13px;
  object-fit: contain;
}


/* mấy khung thống kê */
.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border: 1px solid #c7c7c7; 
  border-radius: 12px;
  padding: 20px 24px;
  width: 245px;
  height: 133px;
}

/* Khối chữ */
.card .label {
  font-size: 14px;
  color: #555;
  margin-bottom: 6px;
}

.card h2 {
  font-size: 28px;
  font-weight: 700;
  color: #000;
  margin: 0;
}

/* Ô màu xanh chứa icon */
.icon-box {
  width: 70px;
  height: 70px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  filter: brightness(0) invert(1); 
}

/* Màu chủ đề */
.icon-box.blue {
  background: #4977f2; 
}
.icon-box.green {
  background: #3bb273;
}
.icon-box.yellow {
  background: #f3c63f;
}




/* Icon Image */
.icon-img {
  width: 22px;
  height: 22px;
  object-fit: contain;
}

.icon-img.small {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

.icon-edit-img {
  width: 25px;
  height: 25px;
  object-fit: contain;
} 




.logo {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 6px;
}

.label {
  font-size: 14px;
  color: #666;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  color: #000;
}


/* Table */
.table-section {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 20px;
}

.table-header-row, .table-row {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 0.5fr;
  padding: 12px 0;
  align-items: center;
  text-align: center;
}

.table-header-row {
  font-weight: 600;
  border-bottom: 1px solid #eee;
}

.table-row {
  font-size: 15px;
  border-bottom: 1px solid #f2f2f2;
}

.table-row:last-child {
  border-bottom: none;
}

.highlight {
  font-weight: 700;
}
