/* ======== Footer ======== */
.footer {
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 60px 80px;
  border-top: 1px solid #e6e6e6;
  color: black;
}

.footer-left {
  width: 50%;
}

.footer-left p {
  margin-top: 20px;
  font-size: 22px;
  line-height: 2;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-icon {
  width: 67px;
  height: 75px;
}

.footer-icon img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer-text {
  color: #660095;
  font-family: System serif, serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-right {
  width: 50%;
}

.footer-right h2 {
  color: #660095;
  font-size: 26px;
  font-weight: 700;
}

.footer-right p {
  font-size: 22px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-right p img {
  width: 35px;
  height: 35px;
  object-fit: contain;
  display: inline-block;
}

.footer-right .underline {
  text-decoration: underline;
}