/* ======== Tổng thể ======== */
body {
  margin: 0;
  font-family: Inter, sans-serif;
}

.page-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  background: #C86D13;
  overflow: hidden;
}

/* Hero */
.hero-bg {
  width: 100%;
  height: 423px;
  top: 120px;
  left: 0;
  background-color: transparent;
  color: #fff;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  z-index: 1;
}

.hero-bg h1 {
  font-size: 64px;
  font-weight: 700;
  margin: 0;
  line-height: 1.5;
}

.hero-bg h1 span {
  color: #FFFC9B;
}

.hero-bg p {
  font-size: 26px;
  max-width: 800px;
  margin: 20px auto 0;
  line-height: 1.5;
}



.features-section {
  text-align: center;
  padding: 60px 0;
  background: #fff2e6;
}

.features-section h2 {
  font-size: 48px;
  margin-bottom: 10px;
  color: #333;
}

.features-section p {
  font-size: 20px;
  margin-bottom: 40px;
  color: #555;
}

.features-grid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  flex-wrap: wrap;
}

.feature-box {
  background: white;
  width: 200px;
  height: 215px;
  padding: 30px 20px;
}

.feature-icon {
  width: 80px;
  height: 80px;
  background: #f49740;
  border-radius: 50%;
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.feature-icon img {
  width: 45px;
  height: 45px;
  object-fit: contain;
}

.feature-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.feature-desc {
  color: #666;
  font-size: 15px;
  line-height: 1.4;
}



.stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background: #f49740;
  padding: 40px 0;
  position: relative;
  width: 100%;
  height: 200px;

  text-align: center;
  top: 30px;
  color: white;
}

.stat-box-tongsosach,
.stat-box-docgiadangky,
.stat-box-luotmuonhomnay,
.stat-box-sachdangmuon {
  width: 200px;
}


.stat-icon {
  width: 80px;
  height: 80px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;

  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 15px;
}

.stat-number {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.stat-title {
  font-size: 20px;
  font-weight: 500;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

